# IDE
.idea/
.settings/
.project
.classpath
*.iml

# Build
out/
target/
*.class
*.jar
*.log

# Database
*.db
*.db.sqbpro

# OS
.DS_Store
Thumbs.db

# Launch4j
launch4j.log

#For Updated .exe
$env:JAVA_HOME="C:\Program Files\Java\jdk-26.0.1"

$env:Path += ";$env:JAVA_HOME\bin"

cd "C:\Users\acer\OneDrive\Desktop\Jk-Chicken-Center"

jpackage `
--input "C:\Users\acer\OneDrive\Desktop\Jk-Chicken-Center\target" `
--name "JK-Chicken-Center" `
--main-jar "jk-chicken-center-1.0.0.jar" `
--main-class "com.chickencenter.MainApp" `
--type app-image `
--runtime-image runtime `
--add-modules java.desktop

#Additional updated .exe
jpackage `
--input "target" `
--name "JK-Chicken-Center" `
--main-jar "jk-chicken-center-1.0.0.jar" `
--main-class "com.chickencenter.MainApp" `
--type app-image `
--runtime-image runtime