<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="OFF">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <ThresholdFilter level="OFF" onMatch="DENY" onMismatch="ACCEPT"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.apache.logging.log4j" level="off"/>
        <Root level="off">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
